@import url("./fonts.css");
@import url("./code.css");
@import url("./cap.adjust.css");
@import url("./katex.adjust.css");

html {
	scroll-behavior: smooth !important;
}

.book .book-body .page-wrapper .page-inner section.normal strong {
	font-weight: bold;
	color: #3b528b;
	/* for bold faces in text */
}

.book-body>p>img {
	align-self: center;
}

b {
	color: #440154;
	/* for section bold faces */
}

div.hypothesis {
	padding: 2% 4%;
	margin-bottom: 10px;
	background-color: #b7f1ee;
	border-radius: 10px;
}

div.hypothesis p,
div.definition p {
	margin-bottom: 0px !important;
}

div.definition {
	padding: 2% 4%;
	margin-bottom: 10px;
	background-color: #d8e219;
	border-radius: 10px;
}