@import url("./fonts.css");
@import url("./code.css");
@import url("./cap.adjust.css");
@import url("./katex.adjust.css");
@import url("./quote.adjust.css");
@import url("./env.adjust.css");

html {
	scroll-behavior: smooth !important;
}

.book .book-body .page-wrapper .page-inner section.normal strong {
	font-weight: bold;
	color: #3b528b;
	/* for bold faces in text */
}

.book-body div img,
.book-body>p>img {
	align-self: center;
}

b {
	color: #440154;
	/* for section bold faces */
}