html {
	scroll-behavior: smooth;
}
p.caption {
	color: #777;
	margin-top: 10px;
}
p code {
	white-space: inherit;
}
pre {
	word-break: normal;
	word-wrap: normal;
}
pre code {
	white-space: inherit;
}
p > code {
	padding-left: 0;
	padding-right: 0;
}
pre > code {
	border-radius: 0 0 6px 6px;
}
p.flushright {
	text-align: right;
}
code {
	border-radius: 10px;
	font-family: 'Fira Code', monospace !important;
}
div > .sourceCode {
	border-radius: 6px 6px 0 0;
}
blockquote > p:last-child {
	text-align: right;
}
blockquote > p:first-child {
	text-align: inherit;
}
.header-section-number {
	padding-right: 0.2em;
	font-weight: 500;
}
.level1 .header-section-number {
	display: inline-block;
	border-bottom: 3px solid;
}
.level1 h1 {
	border-bottom: 1px solid;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
h1.title {
	font-weight: 700;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
	font-weight: 600;
}
.book-body > p > img {
	align-self: center;
}
